{% extends "toko/base.html" %}

{% block title %}Product List{% endblock %}

{% block content %}

{% if messages %}
<div>
    {% for message in messages %}
        <div class="mb-4 p-4 {% if message.tags %}{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Requests List</h1>
    <div class="bg-white shadow-md rounded-lg p-4">
        <h2 class="text-lg font-semibold mb-2">Requests</h2>
        <ul>
            <div class="w-full h-0.5 bg-black"></div>
            {% for request in products %}
            <li>
                <form method="post" action="{% url 'terima_pesanan/' %}" class="mb-4">
                    {% csrf_token %}
                    <div class="p-2 bg-gray-100 rounded">
                        <strong>Product ID:</strong> {{ request.order_id }}<br>
                        <strong>Product Name:</strong> {{ request.name }}<br>
                        <strong>Quantity:</strong> {{ request.quantity }}<br>
                        <strong>Category:</strong> {{ request.category }}<br>
                        <strong>Status:</strong> {{ request.status }}<br>
                        <strong>Date:</strong> {{ request.order_date }}<br>
                        <div class="flex space-x-2 mt-2">
                            <button value="{{ request.order_id }}" name="reject" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700">
                                Deny
                            </button>
                            <button value="{{ request.order_id }}" name="acc" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">
                                Accept
                            </button>
                        </div>
                    </div>
                    <div class="w-full h-0.5 bg-black mt-2"></div>
                </form>
            </li>
            {% empty %}
            <li>No requests found</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}